@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

.blueButton{
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg w-full items-center;
}

.greenButton{
  @apply bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded-lg w-full items-center;
}

.transparentButton{
  @apply bg-transparent text-white font-bold py-2 px-4 rounded-lg w-full items-center;
}

.customBorder{
  @apply border-gray-500 hover:border-gray-800 rounded-lg
  border;
}


@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }


}

label{
  color: black;
}
}
